NODE_ENV=development
# NODE_ENV=production
PORT=5000
DATABASE_URL="postgresql://neondb_owner:npg_4QmJfqrIwX2n@ep-green-bar-adqywlhf-pooler.c-2.us-east-1.aws.neon.tech/planora?sslmode=require&channel_binding=require"
BETTER_AUTH_SECRET=dWIskU88ItFNwamUrMYmFkZah0h6UNkE
BETTER_AUTH_URL=http://localhost:5000
ACCESS_TOKEN_SECRET=accesssecret
REFRESH_TOKEN_SECRET=refreshsecret
# ACCESS_TOKEN_EXPIRES_IN=1d
ACCESS_TOKEN_EXPIRES_IN=60000ms
REFRESH_TOKEN_EXPIRES_IN=7d
BETTER_AUTH_SESSION_TOKEN_EXPIRES_IN=1d
BETTER_AUTH_SESSION_TOKEN_UPDATE_AGE=1d
FRONTEND_URL=http://localhost:3000


# STRIPE
STRIPE_SECRET_KEY=sk_test_51T2U7aI5WTDMzk1udtsZ54o0IAPVbxnI6r33fKISrqFc0yZodHZ7NVfkDYxDykdBNObpyZaIgSl9vX8uqGict8V00Dj8gsL
STRIPE_WEBHOOK_SECRET=whsec_5085211388f1ffb4e4e81441d07a4bccc1687907076aa81af83013bfb402c9


ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=12345678